@model ForgotPasswordViewModel
<link rel="stylesheet" href="~/css/authUI.css" asp-append-version="true" />
<div class="form-page">
    <div class="form-container">
        <h2>Forgot Password</h2>
        <form asp-action="ForgotPassword" method="post" class="form">
            <div class="validation-summary">
                @Html.ValidationSummary(true, "", new { @class = "text-danger validation-message visible" })
            </div>
            <div class="input-span">
                <label asp-for="Email" class="label">Email</label>
                <div class="input-wrapper">
                    <input asp-for="Email" type="email" placeholder="Enter your email" class="form-control form-control-email" autocomplete="off"/>
                </div>
                <span asp-validation-for="Email" class="text-danger validation-message"></span>
            </div>
            <div class="input-span">
                <label asp-for="RecoveryCode" class="label">Recovery Code</label>
                <div class="input-wrapper">
                    <input asp-for="RecoveryCode" type="text" placeholder="Enter your recovery code" class="form-control form-control-recovery" autocomplete="off" />
                </div>
                <span asp-validation-for="RecoveryCode" class="text-danger validation-message"></span>
            </div>
            <button type="submit" class="submit">Submit</button>
            <div class="login-link">
                <a asp-action="Login" asp-controller="Account">Back to Login</a>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />