@using Microsoft.AspNetCore.Identity
@using EventHubASP.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="~/logo.png" />
    <style>
        body {
            background-color: #f8f9fa;
        }

        .navbar {
            background-color: black;
            padding: 0.5rem 1rem;
        }


        .nav-link 
        {
            color: whitesmoke;
        }

        .nav-link:hover {
            border: 1px solid;
            border-radius: 15px;
            border-color: white;
            color: white;
            text-decoration: none;
            transition: 0.3s ease-in-out;
        }

        .navbar-nav .nav-item .nav-link {
            padding: 10px 15px;
        }

        .navbar-buttons .btn {
            margin-left: 10px;
        }

        .navbar-buttons .btn-outline-primary {
            margin-right: 5px;
        }

        footer {
            background-color: black;
            text-align: center;
            padding: 7px 0;
        }

        #notificationDot {
            display: none;
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
            position: absolute;
            top: 10px;
            right: -5px;
        }

        #notificationContainer {
            position: relative;
        }

        #notificationList {
            list-style-type: none;
            padding: 0;
            margin: 0;
            max-height: 300px;
            overflow-y: auto;
        }

        .notification-item {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/logo.png" alt="Logo" width="60" height="60" class="d-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.GetUserAsync(User);
                            var userRoles = await UserManager.GetRolesAsync(user);

                            if (userRoles.Contains("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Event" asp-action="BrowseEvents">Manage Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="ManageRoleRequests">Manage Requests</a>
                                </li>
                            }
                            else if (userRoles.Contains("Organizer"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Event" asp-action="MyEvents">My Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Event" asp-action="CreateEvent">Create An Event</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="News" asp-action="Create">Create News</a>
                                </li>
                            }
                            else if (userRoles.Contains("User"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Event" asp-action="BrowseEvents">Browse Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Event" asp-action="MySubscriptions">My Subscriptions</a>
                                </li>
                            }
                        }
                    </ul>

                    <partial name="_LoginPartial"></partial>
                    <partial name="_Notification"></partial>
                    <partial name="_ValidationScriptsPartial"></partial>
                </div>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </main>

    <footer>
        <p>© 2024 EventHub</p>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>
    <script src="~/js/notifications.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>