@using Microsoft.AspNetCore.Identity
@using EventHubASP.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<style>
    #notificationDot {
        display: none;
        width: 7px;
        height: 7px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        top: 0;
        transform: translate(0, -50%);
    }

    #inboxLink {
        position: relative;
    }

    .btn-outline-primary 
    {
        border: 1px solid;
        border-color: white;
        border-radius: 20px;
        color: white;
    }

    .btn-outline-primary:hover {
        border: none;
        background-color: white;
        border-radius: 20px;
        color: black;
        transition: ease-in-out 0.3s;
    }
    .btn 
    {
        border-radius: 20px;
    }
</style>
<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var roles = await UserManager.GetRolesAsync(user);

        @if (roles.Contains("User"))
        {
            <li class="nav-item">
                <a id="inboxLink" asp-controller="News" asp-action="MyFeed">
                    <img id="inboxIcon" width="25" height="25" style="margin-top: 15px" src="~/inbox.png" alt="inbox" />
                    <span id="notificationDot"></span>
                </a>
            </li>
        }
        <li class="nav-item">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="btn btn-outline-danger">
                    <img src="~/profilepic.png" style="margin-right: 8px;" alt="Logo" width="30" height="30">Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-outline-primary me-1" asp-area="" asp-controller="Account" asp-action="Login">
                <i class="bi bi-box-arrow-in-right"></i> Login
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Register">
                <i class="bi bi-person-plus"></i> Register
            </a>
        </li>
    }
</ul>
