
.my-events-container {
    margin-top: 30px;
    padding: 25px;
    background-color: transparent; 
    border-radius: 15px; 
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.15); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .my-events-container:hover {
        transform: translateY(-5px); 
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

h2 {
    font-family: "Math", serif;
    color: wheat;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(255, 235, 167, 0.5);
    margin: 20px 0;
    padding-bottom: 10px;
    position: relative;
}

    h2::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 2px;
        background-color: wheat;
        border-radius: 1px;
    }

.table {
    background-color: #e5ffe5; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.thead-dark th {
    background-color: #212121; 
    color: #ffeba7; 
    font-weight: 600;
}


.event-title-link {
    color: #212121; 
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

    .event-title-link:hover {
        color: #24568f; 
        text-decoration: underline;
    }

.action-button {
    border-radius: 5px; 
    padding: 5px 10px; 
    background-color: #212121; 
    color: #ffeba7; 
    border: none;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

    .action-button:hover {
        transform: translateY(-2px); 
        background-color: #ffeba7; 
        color: #212121; 
        opacity: 0.9; 
    }
