@model NewsViewModel
@{
    ViewBag.Title = "Create News";
}

<link rel="stylesheet" href="~/css/myFeed.AndCreate.css" asp-append-version="true" />

<div class="create-news-container">
    <h2>Create News</h2>

    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="form-label"></label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EventID" class="form-label">Event</label>
            <select asp-for="EventID" class="form-control" asp-items="Model.AvailableEvents"></select>
            <span asp-validation-for="EventID" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-create-news">Create</button>
    </form>
</div>