@model IEnumerable<News>
@{
    ViewBag.Title = "My News Feed";
}
<link rel="stylesheet" href="~/css/myFeed.AndCreate.css" asp-append-version="true" />

<div class="my-feed-container">
    <h2>My News Feed</h2>

    @if (!Model.Any())
    {
        <p>There are no news yet.</p>
    }
    else
    {
        <ul>
            @foreach (var news in Model)
            {
                <li>
                    <h3>@news.Title</h3>
                    <p>@news.Content</p>
                    <small>@news.PublishedDate.ToString("g")</small>

                </li>
            }
        </ul>
    }
</div>